Cython==0.29.32
Flask==2.0.3
flask-restx==0.5.1
imutils==0.5.4
inplace-abn @ git+https://github.com/mapillary/inplace_abn.git@24fc791e6d4796a1639e7a5dce6fa67377e51a3e
json5==0.9.5
kaggle==1.5.12
keras==2.10.0
matplotlib==3.3.4
numpy==1.19.5
opencv-python==4.2.0.34
opencv-python-headless==4.5.2.52
pep8==1.7.1
Pillow==8.4.0
protobuf==4.21.0
pycocotools==2.0.4
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
QDarkStyle==2.8.1
qt6-applications==6.1.0.2.2
qt6-tools==6.1.0.1.2
qtconsole==5.2.2
QtPy
randaugment==1.0.2
regex==2022.10.31
requests==2.27.1
tensorflow
tf-slim
tqdm
Werkzeug
